<!-- <div class="container">
    <div class="row d-flex justify-content-center mb-2">
        <div class="col-4">
            <img src="../../../../../assets/ogrenci.png" (click)="navigate('student')">
        </div>
        <div class="col-4">
            <img src="../../../../../assets/yönetici.png" (click)="navigate('teacher')">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <img src="../../../../../assets/admin.png" (click)="navigate('admin')">
        </div>
    </div>
</div> -->


<div class="split left">
    <div class="text-center" style="padding: 24px;">
        <h2 style="font-family: 'Bebas Neue', sans-serif, serif;font-weight: 900;">Öğrenci Performans İzleme Sistemi</h2>
        <hr>
        <p style="font-family: 'Bebas Neue', sans-serif, serif;">Çalışmalarınızı sistematik hale getirmek ve YAPAY ZEKA destekli sistemimimiz ile gelişiminizde
        size yol göstermek için buradayız.</p>
    </div>
  </div>
  
  <div class="split right">
    <div class="row butonlar">
        <div class="col-12">
            <button (click)="navigate('student')" class="ozel-buton">
                <svg style="width: 75px;float:left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><line x1="32" y1="64" x2="32" y2="144" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/><path d="M54.2,216a88.1,88.1,0,0,1,147.6,0" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/><polygon points="224 64 128 96 32 64 128 32 224 64" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/><path d="M169.3,82.2a56,56,0,1,1-82.6,0" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/></svg>
                <span>Öğrenci Girişi
                </span>
              </button>
        </div>
        <div class="col-12">
            <button (click)="navigate('teacher')" class="ozel-buton">
                <svg style="width: 75px;float:left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H53.4a7.9,7.9,0,0,0,7.2-4.6,48.1,48.1,0,0,1,86.8,0,7.9,7.9,0,0,0,7.2,4.6H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40ZM104,168a32,32,0,1,1,32-32A32.1,32.1,0,0,1,104,168Zm112,32H159.4a63.7,63.7,0,0,0-13.1-16H192a8,8,0,0,0,8-8V80a8,8,0,0,0-8-8H64a8,8,0,0,0-8,8v96a8,8,0,0,0,6,7.7A64.2,64.2,0,0,0,48.6,200H40V56H216Z"/></svg>
                <span>Öğretmen Girişi</span>
              </button>
        </div>
        <div class="col-12">
            <button (click)="navigate('admin')" class="ozel-buton">
                <img src="../../../../../assets/managers-svgrepo-com.svg" alt="">
                <span>Yönetici Girişi</span>
              </button>
        </div>
    </div>


      
  </div>