<!--
<div class="grid-container">
    <nb-card *ngFor="let lesson of lessons" (click)="chooseLesson(lesson.ders_id)">
        <nb-card-header>
            <div style="overflow: hidden;  text-overflow: ellipsis; max-height:2.4em">
                <h1>{{lesson.ders_adi}}</h1>
            </div>
        </nb-card-header>
        <nb-card-body>
            <nb-menu [items]="lesson.perform">
            </nb-menu>
        </nb-card-body>
    </nb-card>
</div>
-->
<router-outlet></router-outlet>
<!--

    <nb-accordion>
                <nb-accordion-item *ngFor="let lesson of lesson_names">
                    <nb-accordion-item-header (click)="getCategories(lesson)">
                        {{lesson}}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body *ngFor="let category of currentLesson">
                        <div class="container">
                            <div class="row border-bottom border-secondary pb-3">
                                <div class="col-8">
                                    {{category.kategori_adi}}
                                </div>
                                <div class="col-4">
                                    <button nbButton status="primary"
                                        (click)="getDataByCategoryId(category.kategori_id)">
                                        Tabloyu Görüntüle</button>
                                </div>
                            </div>
                        </div>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
-->



<section class="lis-bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-5 text-center"
                style="visibility: visible; animation-name: fadeInUp;" *ngFor="let lesson of lessons">
                <div class="price-table">
                    <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
                        <p class="display-4 lis-font-weight-600">{{lesson.ders_adi}}</p>
                    </div>
                    <div class="border border-top-0 lis-brd-light bg-white lis-rounded-bottom">
                        <nb-menu [items]="lesson.perform" class="mb-3">
                        </nb-menu>
                        <div class="col mb-3 d-flex justify-content-between">
                            <button nbButton status="primary" (click)="insertLog(lesson.ders_id)">Çalışma
                                Ekle</button>
                            <button nbButton status="primary" (click)="goLogPage(lesson.ders_id)">
                                Çalışmalarım
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>