<div class="grid-container">
    <nb-card *ngFor="let lesson of lessons" (click)="chooseLesson(lesson.ders_id)">
        <nb-card-header>
            <div style="overflow: hidden;  text-overflow: ellipsis; max-height:2.4em">
                <h1>{{lesson.ders_adi}}</h1>
            </div>
        </nb-card-header>
        <nb-card-body>
            <nb-menu [items]="lesson.perform">
            </nb-menu>
        </nb-card-body>
    </nb-card>
</div>

<router-outlet></router-outlet>
<!--

    <nb-accordion>
                <nb-accordion-item *ngFor="let lesson of lesson_names">
                    <nb-accordion-item-header (click)="getCategories(lesson)">
                        {{lesson}}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body *ngFor="let category of currentLesson">
                        <div class="container">
                            <div class="row border-bottom border-secondary pb-3">
                                <div class="col-8">
                                    {{category.kategori_adi}}
                                </div>
                                <div class="col-4">
                                    <button nbButton status="primary"
                                        (click)="getDataByCategoryId(category.kategori_id)">
                                        Tabloyu Görüntüle</button>
                                </div>
                            </div>
                        </div>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
-->