<nb-card>
    <nb-card-header class="text-center">
        {{lesson.ders_adi}}
    </nb-card-header>
    <nb-card-body>

        <body>
            <div id="wrapper">

                <table id="keywords" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th><a (click)="sortBy('ad')"><span>Ad</span></a></th>
                            <td><a (click)="sortBy('soyad')">Soyad</a></td>
                            <td><a (click)="sortBy('hedef')">Hedef Soru</a></td>
                            <td><a (click)="sortBy('cozulen')">Çözülen Soru</a></td>
                            <td><a (click)="sortBy('dogru')">Doğru Soru</a></td>
                            <td><a (click)="sortBy('yanlis')">Yanlış Soru</a></td>
                            <td><a (click)="sortBy('bos')">Boş Soru</a></td>
                            <td>
                                <a (click)="sortBy('performans')">Performans</a>
                            </td>
                            <td>
                                <a (click)="sortBy('calisma_performans')">Çalışma Performansı</a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let perform of performs; index as i">
                            <td>{{perform.ad}}</td>
                            <td>{{perform.soyad}}</td>
                            <td>{{perform.hedef}}</td>
                            <td>{{perform.cozulen}}</td>
                            <td>{{perform.dogru}}</td>
                            <td>{{perform.yanlis}}</td>
                            <td>{{perform.bos}}</td>
                            <td>%{{perform.performans}}</td>
                            <td>%{{perform.calisma_performans}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </body>

    </nb-card-body>
</nb-card>