<nb-card style="width: 30%; height: 100%; margin-left: 70%;">
    <nb-card-header class="d-flex justify-content-between">
        Sayfa Ekle
        <nb-icon (click)="close()" icon="close-outline"></nb-icon>
    </nb-card-header>
    <nb-card-body>
        <app-sheet-form></app-sheet-form>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-between" style="flex-wrap: wrap;">
        <button nbButton outline status="primary" style="flex-basis: 45%;" (click)="createNewSheet()">Kaydet</button>
    </nb-card-footer>
</nb-card>