<!--<form [formGroup]="myForm">
    <nb-accordion formArrayName="lessonsArray">
        <nb-accordion-item *ngFor="let group of lessonsArray.controls; let i = index" [formGroupName]="i">
            <nb-accordion-item-header>
                <input nbInput type="text" formControlName="ders_adi">
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <nb-select formControlName="secilen">
                    <nb-option *ngFor="let category of group.get('kategoriler')?.value"
                        [value]="category.kategori_id">{{
                        category.kategori_adi
                        }}</nb-option>
                </nb-select>
                <input nbInput type="text" formControlName="hedef_soru">

                <button nbButton outline status="primary" (click)="addControl(i)">+</button>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</form>
-->











<!--
    son gecerli olan


<form [formGroup]="myForm">
    <nb-accordion formArrayName="lessonsArray">
        <nb-accordion-item *ngFor="let group of lessonsArray.controls; let i = index" [formGroupName]="i">
            <nb-accordion-item-header>
                <input nbInput type="text" formControlName="ders_adi">
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <input nbInput type="text" formControlName="hedef_soru">

                <div formArrayName="kategoriler">
                    <div *ngFor="let innerGroup of group.get('kategoriler').controls; let j = index">
                        <input nbInput type="text" [formControlName]="j">
                    </div>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</form>
-->





<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col">
                Hedeflenen Soru Sayısı &nbsp;
            </div>
            <div class="col d-flex justify-content-end">
                <input type="text" nbInput [(ngModel)]="formValues.hedef_soru">
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="myForm">
            <div formArrayName="lessonsArray">
                <div class="mb-2" *ngFor="let group of lessonsArray.controls; let i = index" [formGroupName]="i">
                    <div class="row">
                        <div class="col">
                            <input type="text" nbInput formControlName="kategori">
                        </div>
                        <div class="col">
                            <input type="number" nbInput formControlName="hedef_soru">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>



<!--
<form [formGroup]="myForm">
    <div formArrayName="lessonsArray">
        <div *ngFor="let group of lessonsArray.controls; let i = index" [formGroupName]="i">
            <input nbInput type="text" formControlName="ders_adi">
            <input nbInput type="text" formControlName="hedef_soru">
            <button nbButton outline status="primary">+</button>
        </div>
    </div>
</form>
-->

<!-- her dersi bir nbmenu tarzı yapıp altında formcontrol nesnesiyle kategori ve heedef soru ve yanında da sil butonu
    -->