@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@300;400&family=Oswald:wght@200;400;500&family=Rubik+Iso&family=Teko:wght@300&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@300;400&family=Oswald:wght@400;500&family=Rubik+Iso&family=Teko:wght@300&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@300;400&family=Oswald:wght@200;400;500&family=Rubik+Iso&family=Teko:wght@300&family=Young+Serif&display=swap');

.grid-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}


.card {
  background: #ffffff;
  border: 1px solid #c7c7c7;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
  box-shadow: 2px 2px 2px 2px;

}

.btn {
  /* border: 2px solid;
    border-image-slice: 1; */
  /* width: 200px; */
  /* padding: 8px; */
  /* background: var(--gradient) !important; */
  /* -webkit-background-clip: text !important; */
  /* -webkit-text-fill-color: transparent !important; */
  /* border-image-source:  var(--gradient) !important;  */
  /* text-decoration: none;
    transition: all .4s ease; */
}

.btn:hover,
.btn:focus {
  /* background: var(--gradient) !important; */
  /* -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important; */
  /* border: 5px solid #fff;
    box-shadow: #222 1px 0 10px;
    text-decoration: none; */
}

.buttons {
  display: flex;
  justify-content: space-around;
  height: 34px;
  /* width: 180px; */
}




section {
  padding: 5px 0px;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-decoration: none;

}

#tabs {
  /* background-color: #edf1f7; */

  color: #000000;
}

#tabs h6.section-title {
  color: #000000;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fa0000;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  text-decoration: none;
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #0569ff;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
}

/* @media screen and (max-width:768px) {
    .buttons a{
      font-size: 10px;
      font-weight: 500;
    }
}

@media screen and (max-width:574px) {
  .buttons a{
    height: 50px;
    width: 57px;
  }
} */


.btn {
  color: #000000;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0.25em, transparent 0.25em) center/1em 1.2em;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 20px/50px;
  border: 2px solid #0bbaff;
  transition: all 0.5s ease 0s;
  text-decoration: none;
  line-height: 1.3em;
}

.btn:hover,
.btn:focus {
  color: #113341;
  background: radial-gradient(circle, #0bbaff 0.25em, transparent 0.25em) center/0.1em 0.1em;
  box-shadow: 4px 4px rgba(253, 238, 172, 0.2);
}

h5 {
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .btn {
    font-size: 7px;
  }

  h5 {
    /* line-height: 1em; */
    font-size: 14px;
  }
}

@media only screen and (max-width: 460px) {
  .btn {
    width: 60px;
  }

  h5 {
    font-size: 12px;
  }
}










section {
  padding: 5px 0px;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-decoration: none;

}

.solution_card {
  /* Dikey taşmayı önle */
  /* white-space: wrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}



/* Ekran daraldıkça kartları yeniden düzenle */
@media screen and (max-width: 768px) {
  .solution_card {
    width: 100%; /* Kartları tam genişlikte sırala */
  }
  .category-title{
    font-size: 12px;
  }
}




.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 20px;
    padding: 10px 15px;
  position: relative;
  z-index: 1;
  min-height: 290px;
  transition: 0.7s;
  overflow: hidden;
}

.solution_cards_box .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;

}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}

.solution_card:hover .category-title, .solution_card:hover .info-label {
  color: #fff; /* Başlık rengini istediğiniz renkle değiştirin */
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}


 button {
  background: #fff !important;
  color: #309df0;
}
button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content p {
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}



/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    /* width: 50%; */
    height: 350px;
    margin: 0 auto;
  }
}
/* Diğer CSS kuralları */

.category-title {
  color: #309df0;
  font-size: 24px;
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  color: #777;
}

.pricing-offers {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricing-offers li {
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}


.btn{
  background-color: #94cdfc;
  border: none;
}
.btn:hover{
  background-color: #4aabfa;
}


.solution_cards_box .solution_card .so_top_icon {
/* width: 60px;
height: 60px; */
/* border-radius: 50%;
background: #fff;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center; */
position: absolute;
left: 10px;
top: 10px;
}

.solution_cards_box .solution_card .so_top_icon img {
width: 40px;
height: 50px;
object-fit: contain;
}
@media screen and (max-width:400px) {
.solution_cards_box .solution_card .so_top_icon svg{
  width: 30px;
  padding-top: 15px;
}
} 