body {
    margin-top: 20px;
}

.section-title {
    position: relative;
}

.section-title h2 {
    color: #1d2025;
    position: relative;
    margin: 0;
    font-size: 24px;
}

@media (min-width: 768px) {
    .section-title h2 {
        font-size: 28px;
    }
}

@media (min-width: 992px) {
    .section-title h2 {
        font-size: 34px;
    }
}

.section-title.title-ex1 h2 {
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .section-title.title-ex1 h2 {
        padding-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .section-title.title-ex1 h2 {
        padding-bottom: 40px;
    }
}

.section-title.title-ex1 h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 110px;
    height: 1px;
    background-color: #d6dbe2;
}

@media (min-width: 768px) {
    .section-title.title-ex1 h2:before {
        bottom: 17px;
    }
}

@media (min-width: 992px) {
    .section-title.title-ex1 h2:before {
        bottom: 25px;
    }
}

.section-title.title-ex1 h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 40px;
    height: 1px;
    background-color: #0cc652;
}

@media (min-width: 768px) {
    .section-title.title-ex1 h2:after {
        bottom: 17px;
    }
}

@media (min-width: 992px) {
    .section-title.title-ex1 h2:after {
        bottom: 25px;
    }
}

.section-title.title-ex1.text-center h2:before {
    left: 50%;
    transform: translateX(-50%);
}

.section-title.title-ex1.text-center h2:after {
    left: 50%;
    transform: translateX(-50%);
}

.section-title.title-ex1.text-right h2:before {
    left: auto;
    right: 0;
}

.section-title.title-ex1.text-right h2:after {
    left: auto;
    right: 0;
}

.section-title.title-ex1 p {
    font-family: "Montserrat", sans-serif;
    color: #8b8e93;
    font-size: 14px;
    font-weight: 300;
}


.price-card {
    background: #f5f5f6;
    padding: 40px 35px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.price-card:before {
    position: absolute;
    content: "";
    top: 0;
    right: -35px;
    width: 88px;
    height: 88px;
    background: #0cc652;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}

.price-card:after {
    position: absolute;
    content: "";
    top: 30px;
    right: -35px;
    width: 88px;
    height: 88px;
    background: #0cc652;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}

.price-card h2 {
    font-size: 26px;
    font-weight: 600;
}

.price-card .btn {
    font-size: 11px;
    border-radius: 100px;
    padding: 0 25px;
    border: 0;
    color: #fff;
    float: right;
}

.price-card .btn.btn-primary {
    border: 0 !important;
}

.price-card.featured {
    background: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.price-card:hover .btn {
    background: #0cc652;
    border-color: #0cc652;
}

p.price span {
    display: inline-block;
    padding: 45px 15px 50px;
    padding-right: 0;
    font-size: 50px;
    font-weight: 600;
    color: #0cc652;
    position: relative;
}

p.price span:before {
    position: absolute;
    content: "$";
    font-size: 16px;
    top: 25px;
    font-weight: 300;
    left: 0;
}

.pricing-offers {
    padding: 0 0 10px;
}

.pricing-offers li {
    padding: 0 0 16px;
    line-height: 18px;
}

ul li {
    list-style-type: none;
}

.btn.btn-mid {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}




* {
	box-sizing: border-box;
		font-family: "Open Sans", sans-serif;

}

h2 {
	margin: 0;
	font-size: 1.4rem;
}

@media (min-width: 50em) {
	h2 {
		font-size: 1.8rem;
	}
}

.cta {
    padding: 14px;
	--shadowColor: 187 60% 40%;
	display: flex;
	flex-wrap: wrap;
	background: hsl(180, 5%, 88%);
	max-width: 50rem;
	width: 100%;
	box-shadow: 0.65rem 0.65rem 0 hsl(180, 2%, 75%);
	border-radius: 0.8rem;
	overflow: hidden;
	border: 0.5rem solid;
}

.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
	outline: 0.5rem solid;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta a {
	display: inline-block;
	color: black;
	padding: 0.5rem 1rem;
	text-decoration: none;
	background: hsl(187 75% 64%);
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.35rem solid;
}

.grid-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Ekran genişliği 768 pikselden küçükse */
@media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr); /* Her satırda 2 kart göstermek için sütun sayısını 2 yapın */
    }
  }

  @media (max-width: 560px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr); /* Her satırda 2 kart göstermek için sütun sayısını 2 yapın */
    }
  }


  .box select {
    background-color: #94cdfc;
    color: white;
    padding: 12px;
    width: 250px;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

  @media (max-width: 768px) {
    .box {
      margin-bottom: 10px;
      width: 100%;
    }
  
    .box select {
      width: 100%;
      padding: 10px;
    }
  }

  @media (max-width: 994px) {
    .box select {
        width: 150px;
        font-size: 14px;
      }
    
      .box select {
        width: 100%;
        padding: 10px;
      }
  }

  * {
    box-sizing: border-box;
    /* margin: 0; */
  }
  
  h1 {
    font-size: 2em;
    font-weight: 900;
    line-height: 1.1;
    max-inline-size: 15ch;
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1rem;
    }
  }
  
  h2 {
    text-transform: uppercase;
    /* text-align: end; */
  }

  
  header {
    display: grid;
    gap: 1ch;
  }
  .card {
    background: #ffffff;
    border: 1px solid #c7c7c7;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
    box-shadow: 2px 2px 2px 2px;
  
  }

  
section {
    padding: 5px 0px;
  }
  
  section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-decoration: none;
  
  }
  
  #tabs {
    /* background-color: #edf1f7; */
  
    color: #000000;
  }
  
  #tabs h6.section-title {
    color: #000000;
  }
  
  #tabs .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #fa0000;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
  }
  
  #tabs .nav-tabs .nav-link {
    text-decoration: none;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0569ff;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
  }









  

  .section_our_solution .row {
    align-items: center;
  }
  
  .our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;

  }
  
  .solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  
  .solution_cards_box .solution_card:hover .solu_title,
  .solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
  }

  .solution_card:hover .category-title, .solution_card:hover .info-label {
    color: #fff; /* Başlık rengini istediğiniz renkle değiştirin */
  }
  
  .solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  .solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #309df0;
    
  }
  
  .solution_card .so_top_icon {
  }
  
  .solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }
  
  .our_solution_content p {
  }
  
  .hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }

  
  
  /*start media query*/
  @media screen and (min-width: 320px) {
    .sol_card_top_3 {
      position: relative;
      top: 0;
    }
  
    .our_solution_category {
      width: 100%;
      margin: 0 auto;
    }
  
    .our_solution_category .solution_cards_box {
      flex: auto;
    }
  }
  @media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
      flex: 1;
    }
  }
  @media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
      top: -3rem;
    }
    .our_solution_category {
      /* width: 50%; */
      height: 300px;
      margin: 0 auto;
    }
  }
  /* Diğer CSS kuralları */

.category-title {
    color: #309df0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #777;
}

.pricing-offers {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pricing-offers li {
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}


.btn{
    background-color: #94cdfc;
    border: none;
}
.btn:hover{
    background-color: #4aabfa;
}