<nb-card>
  <nb-card-header class="text-center">
    {{student.ad}} {{student.soyad}}
  </nb-card-header>
  <nb-card-body>

    <body>
      <div id="wrapper">
        <h1></h1>

        <table id="keywords" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th><span>Ders Adi</span></th>
              <th><span>Hedef Soru</span></th>
              <th><span>Çözülen Soru</span></th>
              <th><span>Doğru Soru</span></th>
              <th><span>Yanlış Soru</span></th>
              <th><span>Boş Soru</span></th>
              <th><span>Performans</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let perform of student.perform; index as i">
              <td class="lalign">{{perform.ders_adi}}</td>
              <td>{{perform.hedef}}</td>
              <td>{{perform.cozulen}}</td>
              <td>{{perform.dogru}}</td>
              <td>{{perform.yanlis}}</td>
              <td>{{perform.bos}}</td>
              <td>%{{perform.performans}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </body>

  </nb-card-body>
</nb-card>

<!-- <div class="container">
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">Ders Adi</div>
                <div class="col col-2">Hedef Soru</div>
                <div class="col col-3"> Çözülen Soru</div>
                <div class="col col-4">Doğru Soru </div>
                <div class="col col-4"> Yanlış Soru </div>
                <div class="col col-4">  Boş Soru  </div>
                <div class="col col-4"> Performans </div>
              </li>
              <li class="table-row" *ngFor="let perform of student.perform; index as i">
                <div class="col col-1" data-label="Ders Adi">{{perform.ders_adi}}</div>
                <div class="col col-2" data-label="Hedef Soru"> {{perform.hedef}} </div>
                <div class="col col-3" data-label="Çözülen Soru">{{perform.cozulen}}</div>
                <div class="col col-4" data-label="Doğru Soru">{{perform.dogru}}</div>
                <div class="col col-4" data-label="Yanlış Soru">{{perform.yanlis}}</div>
                <div class="col col-4" data-label="Boş Soru">{{perform.bos}}</div>
                <div class="col col-4" data-label="Performans">{{perform.performans}}</div>
              </li>
            </ul>
          </div> -->