<nb-card>
    <nb-card-body class="example-items-col">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Öğrenci Numarası</label>
                <input type="number" nbInput fullWidth status="info" formControlName="ogrenci_no">
            </div>
            <div class="form-group">
                <label>Ad</label>
                <input type="text" nbInput fullWidth status="info" formControlName="ad">
            </div>
            <div class="form-group">
                <label>Soyad</label>
                <input type="text" nbInput fullWidth status="info" formControlName="soyad">
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" nbInput fullWidth status="info" formControlName="email">
            </div>
            <div class="form-group">
                <label>Şifre</label>
                <input type="password" nbInput fullWidth status="info" formControlName="sifre">
            </div>
            <div class="form-group">
                <label>Veli Adı</label>
                <input type="text" nbInput fullWidth status="info" formControlName="veli_ad">
            </div>
            <div class="form-group">
                <label>Veli Soyadı</label>
                <input type="text" nbInput fullWidth status="info" formControlName="veli_soyad">
            </div>
            <div class="form-group">
                <label>Veli Tc</label>
                <input type="text" nbInput fullWidth status="info" formControlName="veli_tc">
            </div>
            <div class="form-group d-flex justify-content-center">
                <button nbButton status="primary">Öğrenci Ekle</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>