<app-register-top-bar (dataBySheetsEmitter)="changeDataBySheets($event)" [sheetNames]="sheetNames"
    (currentSheetNameEmitter)="changeCurrentSheetName($event)"></app-register-top-bar>

<app-excel style="margin: 4rem;" [sheetName]="sheetname" [columnNames]="currentColumnNames" [tableData]="currentData"
    [id]="type"></app-excel>

<button nbButton outline status="info" shape="round" size="small" (click)="addRow()" style="margin-top:0.3rem;"><nb-icon
        icon="plus-circle-outline"></nb-icon>Satır Ekle</button>

<button nbButton shape="round" size="small" outline status="info" (click)="openAddSheetModal()"
    style="margin-left: 0.3rem; margin-top:0.3rem;"><nb-icon icon="plus-circle-outline"></nb-icon>Sayfa Ekle</button>
<button nbButton shape="round" size="small" outline status="danger" (click)="deleteCurrentSheet()"
    style="margin-left: 0.3rem; margin-top:0.3rem;"><nb-icon icon="trash-2-outline"></nb-icon>Sayfa Sil</button>