section {
    padding: 5px 0px;
  }
  
  section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-decoration: none;
  
  }

  .solution_card {
    /* Dikey taşmayı önle */
    /* white-space: wrap; */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

  
  /* Ekran daraldıkça kartları yeniden düzenle */
  @media screen and (max-width: 768px) {
    .solution_card {
      width: 100%; /* Kartları tam genişlikte sırala */
    }
    .category-title{
      font-size: 12px;
    }
  }


  

  .section_our_solution .row {
    align-items: center;
  }
  
  .our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;

  }
  
  .solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  
  .solution_cards_box .solution_card:hover .solu_title,
  .solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
  }

  .solution_card:hover .category-title, .solution_card:hover .info-label {
    color: #fff; /* Başlık rengini istediğiniz renkle değiştirin */
  }
  
  .solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  .solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #309df0;
    
  }
  
 
  
  .solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }
  
  .our_solution_content p {
  }
  
  .hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }

  
  
  /*start media query*/
  @media screen and (min-width: 320px) {
    .sol_card_top_3 {
      position: relative;
      top: 0;
    }
  
    .our_solution_category {
      width: 100%;
      margin: 0 auto;
    }
  
    .our_solution_category .solution_cards_box {
      flex: auto;
    }
  }
  @media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
      flex: 1;
    }
  }
  @media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
      top: -3rem;
    }
    .our_solution_category {
      /* width: 50%; */
      height: 300px;
      margin: 0 auto;
    }
  }
  /* Diğer CSS kuralları */

  .category-title {
    color: #309df0;
    font-size: 18px;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #777;
}

.pricing-offers {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pricing-offers li {
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}


.btn{
    background-color: #94cdfc;
    border: none;
}
.btn:hover{
    background-color: #4aabfa;
}


.solution_cards_box .solution_card .so_top_icon {
  /* width: 60px;
  height: 60px; */
  /* border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; */
  position: absolute;
  left: 10px;
  top: 10px;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}
@media screen and (max-width:400px) {
  .solution_cards_box .solution_card .so_top_icon svg{
    width: 30px;
    padding-top: 15px;
  }
} 






* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}


.grid-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Ekran genişliği 768 pikselden küçükse */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* Her satırda 2 kart göstermek için sütun sayısını 2 yapın */
    }
}

@media (max-width: 560px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        /* Her satırda 2 kart göstermek için sütun sayısını 2 yapın */
    }
}


.card {
    padding: 14px;
    border-radius: 10px;
    border-color: rgb(114, 114, 114);
}

div label {
    margin-right: 1em;
}






.box select {
    background-color: #6abcff;
    color: white;
    padding: 12px;
    width: 250px;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}

@media (max-width: 768px) {
    .box {
        margin-bottom: 10px;
        width: 100%;
    }

    .box select {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 994px) {
    .box select {
        width: 150px;
        font-size: 14px;
    }

    .box select {
        width: 100%;
        padding: 10px;
    }
}

.dynamic-text-shadow {
    /*  larger font size, more shadow distance  */
    text-shadow: 0.05em .05em 0 hsl(200 50% 30%);
}








/* * {
    box-sizing: border-box;
    margin: 0;
} */

h1 {
    font-size: 2.5em;
    font-weight: 900;
    line-height: 1.1;
    max-inline-size: 15ch;
}

@media (max-width: 480px) {
    h1 {
        font-size: 1rem;
    }
}

h2 {
    text-transform: uppercase;
    /* text-align: end; */
}


header {
    display: grid;
    gap: 1ch;
}