<header>

    <h1 class="dynamic-text-shadow">{{lesson_name}}</h1>
</header>

<div class="container">
    <div class="card">
        <div class="row justify-content-md-center mb-3" style="padding-top: 10px;">
            <div class="col-md-4 box text-center">
                <select class="selectpicker" id="studentSelect" [(ngModel)]="selectedStudent"
                    (ngModelChange)="onSelectedStudent($event)">
                    <option value="">Öğrenciye Göre Filtrele</option>
                    <option *ngFor="let student of students" [value]="student.ogrenci_id">{{student.ad}}
                        {{student.soyad}}</option>
                </select>
            </div>
            <div class="col-md-4 box text-center">
                <select class="selectpicker" id="yearSelect" [(ngModel)]="selectedYear"
                    (ngModelChange)="onSelectedYear()">
                    <option value="">Yıla Göre Filtrele</option>
                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
                </select>
            </div>
            <div class="col-md-4 box text-center">
                <select class="selectpicker" id="monthSelect" [(ngModel)]="selectedMonth"
                    (ngModelChange)="onSelectedMonth()">
                    <option value="">Tarihe Göre Filtrele</option>
                    <option *ngFor="let month of months; index as i" [value]="i">{{month}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="grid-container">
        <div class="cta col-md-12 content-card" *ngFor="let note of filteredNotes">
            <div class="cta__text-column">
                <h2>{{note.kategori_adi}}</h2>
                <ul class="pricing-offers">
                    <li>Ay: {{months[note.ay - 1]}}</li>
                    <li>Hedef Soru: {{note.hedef_soru}}</li>
                    <li>Doğru Sayısı: {{note.dogru_sayisi || 0}}</li>
                    <li>Yanlış Sayısı: {{note.yanlis_sayisi ||0}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>