<!-- <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <nb-card>
                <nb-card-header>Giriş Yap</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example1">Email</label>
                            <input type="email" id="form2Example1" class="form-control mt-1" formControlName="email" />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example2">Şifre</label>
                            <input type="password" id="form2Example2" class="form-control mt-1" formControlName="password" />
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mb-4">Giriş Yap</button>

                        <div class="text-center">
                            <p>Üye değil misiniz <a href="register">Kayıt olun</a></p>
                            <p>ya da:</p>
                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div> -->


<div class="wrapper">
    <!-- <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div> -->
    <div class="text-center mt-4 name">
        Giriş Yap
    </div>
    <form class="p-3 mt-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" id="form2Example1" class="form-control mt-1" formControlName="email" placeholder="E-mail">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" id="form2Example2" class="form-control mt-1" formControlName="password" placeholder="Sifre">
        </div>
        <button class="btn mt-3">Giriş</button>
    </form>
    <div class="text-center fs-6">
        <a href="register">Üye Değil misin? Kaydol</a>
    </div>
</div>