<div class="container">
    <div class="row mb-2">
        <div class="col d-flex justify-content-end">
            <button nbButton status="primary" (click)="addStudent()">Öğrenci Ekle</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <nb-accordion>
                <nb-accordion-item *ngFor="let student of students">
                    <nb-accordion-item-header style="display: flex;justify-content:space-between;padding-right:3rem ;">
                        <span>{{student.ad}}&nbsp;{{student.soyad}} </span>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <div class="row mb-2">
                            <div class="col d-flex justify-content-end">
                                <button nbButton outline status="danger" (click)="deleteStudent(student)">Sil</button>
                            </div>
                        </div>
                        <app-student-profile [currentStudent]="student"></app-student-profile>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </div>
    </div>
</div>